/* Basic Settings */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: Rastin;
  src: url("../font/Digi\ Rastin\ Bold.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rastin;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../images/backLight.jpg");
  background-size: cover;
  object-fit: cover;
  /* background: linear-gradient(90deg , #0e241b , #030f0d); */
}

.container.light {
  background: url("../images/backLight.jpg");
  background-size: cover;
  object-fit: cover;
}

.container.night {
  background: url("../images/backDark.jpg");
  background-size: cover;
  object-fit: cover;
}

.container.night .main .textInfo,
.container.night .main p,
.container.night .main h2,
.container.night .main .textInfo a {
  color: #fff;
}
.container.light .main h2 {
  background: linear-gradient(45deg, #1a08b8, #6fd6ff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container.light .main .textInfo a {
  background: linear-gradient(45deg, #1a08b8, #6fd6ff);
}

.container.light .main .textInfo a:hover {
  background: #cfcfcf;
}

.container.light .phonenum {
  background: #1a08b8;
}

/* Header Styles */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 5rem;
  background: #00000079;
  border-radius: 20px;
  top: 2rem;
  /* left: 50%;
  transform: translateX(-50%); */
  z-index: 999;
  transition: all 0.2s ease;
}

header.stickybar {
  position: sticky;
  width: 100%;
  background: #ffffffdc;
  color: #000;
  top: 0;
  left: 0;
  border-radius: 0;
  box-shadow: 0 0 10px #000;
}

header.stickybar ~ .container .main {
  margin-top: 7rem;
}

header.stickybar .menu .menuBtn {
  background: none;
  color: #000;
  border: 2px solid #000;
  transition: all 0.2s ease;
}

header .menu {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease;
}

header .logo {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  width: 50%;
  height: 100%;
  clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
  background: linear-gradient(-120deg, #00000000 28%, #7500d4);
  border-radius: 20px 0 0 20px;
}

header.stickybar .logo {
  border-radius: 0;
}

header .logo img {
  width: 10rem;
  margin-left: 20px;
}

header .menu .menuBtn {
  font-family: Rastin;
  color: #fff;
  font-size: 17px;
  background: none;
  border: 2px solid #85858583;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 0.2s ease;
}

header .menu .menuBtn:hover {
  background: #7500d4;
  border: 2px solid #7500d4;
  box-shadow: 0 0 8px #7500d4;
  cursor: pointer;
}

header .menu .socialBtn {
  position: relative;
}

header .menu .socialBtn.turnOn {
  background: #7500d4;
  border: 2px solid #7500d4;
  box-shadow: 0 0 8px #7500d4;
  cursor: pointer;
}

header .menu .socialBtn .socialModal {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
  background: #f5f5f5;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  z-index: 999;
}

header .menu .socialBtn .socialModal.hideModal {
  bottom: -10rem;
  visibility: hidden;
}

header .menu .socialBtn .socialModal .goosheModal {
  position: absolute;
  top: -0.5rem;
  left: 45%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  background: #f5f5f5;
}

header .menu .socialBtn .socialModal a {
  margin: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 8px 5px;
  background: #6363638a;
}

header .menu .socialBtn .socialModal a:hover {
  background: #7500d4;
  box-shadow: 0 0 10px #7500d4;
}

header .menu .socialBtn .socialModal a svg {
  color: #fff;
  font-size: 2rem;
}

header .menu .socialBtn .socialModal .fa-instagram:hover,
header .menu .socialBtn .socialModal .fa-whatsapp:hover,
header .menu .socialBtn .socialModal .fa-telegram:hover,
header .menu .socialBtn .socialModal .fa-github:hover {
  box-shadow: 0 0 20px #7500d4;
}

header .menu.sun .menuBtn.changeMode {
  position: relative;
  width: 5rem;
  height: 2rem;
  background: #c5c5c5;
  box-shadow: inset 0px 0px 12px #000;
  border: 0;
  margin-right: 10px;
  border-radius: 40px;
  transition: all 0.2s ease;
}

header .menu .menuBtn.changeMode {
  position: relative;
  width: 5rem;
  height: 2rem;
  background: #fff;
  box-shadow: inset 0px 0px 12px #000;
  border: 0;
  margin-right: 10px;
  border-radius: 40px;
  transition: all 0.2s ease;
}

header .menu.moon .menuBtn.changeMode #changeModeBtn {
  position: absolute;
  width: 1.45rem;
  height: 1.45rem;
  background: radial-gradient(#f5ff68, yellow, gold);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  box-shadow: 0 0 25px yellow;
  transition: all 0.2s ease;
}

header .menu.sun .menuBtn.changeMode #changeModeBtn {
  position: absolute;
  width: 1.45rem;
  height: 1.45rem;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  box-shadow: 0 0 25px #fff;
  transition: all 0.2s ease;
}

/* Main Styles */

.main {
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: max-content;
  margin-top: 13%;
}

.profileimg {
  width: 40%;
}

.container.light .main .picFrame {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  animation: changeFrame 3s infinite linear;
}

@keyframes changeFrame {
  0% {
    background: #6fd6ff;
    box-shadow: 0 0 0;
  }
  50% {
    background: #1a08b8;
    box-shadow: 0 0 40px #1a08b8;
  }
  100% {
    background: #6fd6ff;
    box-shadow: 0 0 0;
  }
}

.container.night .main .picFrame {
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  background: linear-gradient(-120deg, #f700ff, #150225, #f700ff);
  overflow: hidden;
  padding: 10px;
}

.main .picFrame img {
  width: 100%;
  border-radius: 50%;
}

.main .textInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.main .textInfo h2 {
  text-align: end;
  color: #7500d4;
  font-size: 4rem;
}

.main .textInfo p {
  color: #242424;
  font-size: 17px;
  line-height: 50px;
}

.main .textInfo a {
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(45deg, #540058, #7500d4, #9b21ff);
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  margin-top: 20px;
}

.main .textInfo a:hover {
  background: #6464646b;
}

.container2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.container2 .infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #8b8b8ba6;
  margin-top: 6rem;
  width: 20%;
  height: 55%;
}

.container2 .infoBox svg {
  font-size: 12rem;
  margin-bottom: 1rem;
}

.container2 .infoBox h3 {
  font-size: 1.8rem;
}

.container2 .infoBox p {
  margin-top: 1rem;
  color: #5c5c5c;
}

.container2 .infoBox p b {
  color: #000;
}

.container2 footer {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
  background: linear-gradient(45deg, #1a08b8, #0875a0);
  color: #fff;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* spans */

.phonenum {
  position: absolute;
  left: -5rem;
  background: #1a08b8;
  color: #fff;
  border-radius: 10px 10px 0 0;
  bottom: 10rem;
  padding: 10px 20px;
  transform: rotate(90deg);
  font-weight: lighter;
  letter-spacing: 7px;
}

.scrollsvg {
  position: absolute;
  color: #000000;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  animation: scrolling 2s ease-in-out infinite;
}

@keyframes scrolling {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 2rem;
  }
}

.scrollsvg img {
  width: 6.5rem;
}

/* more Styles */

.container.night + .container2 {
  background: #202020;
}

.container.night + .container2 .infoBox {
  background: linear-gradient(45deg, #220122, #000000);
  color: #fff;
  box-shadow: 0 0 10px #220122;
}

.container.night + .container2 .infoBox p {
  color: #fff;
}

.container.night + .container2 .infoBox p b {
  color: #7bebff;
}

/* Responsive  */

@media only screen and (max-width: 600px) {
  header {
    width: 95%;
  }

  header .logo {
    width: 40%;
  }

  header .logo img {
    width: 50%;
  }

  header .menu {
    width: 70%;
  }

  header .menuBtn {
    font-size: 14px !important;
  }

  header .menuBtn.changeMode {
    display: none;
  }

 .container{
    width: 100%;
  }
  
  .container .main {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .main .textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .container .main .textInfo h2{
    font-size: 3rem;
  }

   .container .main .textInfo p{
    border: 1px solid #fff;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background: #ffffff6c;
   }

   .container .main .textInfo a{
    margin-top: 20px;
   }

   .container .scrollsvg{
    display: none;
   } 

  .container .main .profileimg .picFrame{
    width: 19rem;
    height: 19rem;
    padding: 10px;
    margin-right: -50%;
    margin-bottom: 2rem;
  }

  .container .main div {
    margin-top: 3rem;
  }

  .container {
    height: fit-content;
    padding: 2rem;
  }

  .container2 {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 95%;
  }

  .container2 .infoBox {
    width: 90%;
    height: 600px;
    margin: 0;
  }

  .container2 footer {
    bottom: -650px;
    width:99%;
  }
}


